FLASK_SECRET_KEY=troque-por-uma-chave-grande-e-aleatoria
PLANILHA_ID=1G9QKL2zLm1UxjxR_ZQacKh0rMYbn2uhWEd-V191o7Kg
GOOGLE_CREDENTIALS_JSON={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n","client_email":"...","client_id":"...","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_x509_cert_url":"...","universe_domain":"googleapis.com"}
WHATSAPP_NUM=5535999014589
SHEETS_CACHE_SECONDS=30
ASSET_VERSION=attack10
